player-connection-mode=Listen
player-connection-guid=1989583022
player-connection-debug=0
player-connection-project-name=Plataformer3DMultiplayer
player-connection-ip=192.168.56.1
player-connection-ip=192.168.33.1
player-connection-ip=25.8.55.51
player-connection-ip=10.52.119.251
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=3ba18643bc984398ae6f5725c241818e
